# Ignore everything
*

# Except these files and folders (whitelist)
!OT_utils.py
!generate_data.py
!visualizations.py
!models
!models/**
!multi_head_training_script.py
!multi_head_utils_mps.py
!claude_solution.py
!datasets
!datasets/fixed_base_tensor_data
!datasets/fixed_base_tensor_data/**
