# Ignore everything
*

# Except these files and folders (whitelist)
!OT_utils.py
!generate_data.py
!visualizations.py
!self_supervised_run_script.py
!models
!models/**
!self_supervised_training.py
!self_supervised_cuda_utils.py
!self_supervised_cuda_script.py
!datasets
!datasets/tensor_data
!datasets/tensor_data/**
